ion-content{
	--background: #6a5adf;
}
ion-card{
	--background: #fff;
}

ion-card img{
	width: 100%;
}
ion-list{
    background-color: #6a5adf;
}
ion-item{
	--background: #6a5adf;
    color: #fff;
}

ion-button{
	--background: #6a5adf;
    color: #fff;
    margin: 20px;
}
h2{
    color: #6a5adf;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}