ion-content{
	--background: #2f191b;
}
ion-card{
	--background: #52221f;
}
ion-list{
    background-color: #931c19;
}
ion-item{
	--background: #931c19;
    color: #e8d4a3;
}

ion-button{
	--background: #e2a946;
    color: #e8d4a3;
}
h2{
    color: #e8d4a3;
}
ion-grid{
    display: flex; 
    justify-content: center;
  }