ion-content{
	--background: #2f191b;
}
ion-toolbar{
	--background: #52221f;
  color: #e8d4a3;
}
ion-card{
	--background: #52221f;
}
h2,h3{
  color: #e8d4a3;
}
#kamusta{
  display: flex; 
  align-items: center;
  justify-content: center;
}
#start-button{
  display: flex; 
  align-items: center;
  justify-content: center;
  padding-bottom: 35px;
  --background: #e2a946;
    color: #931c19;
}
ion-grid{
  display: flex; 
  justify-content: center;
}