ion-card{
	--background: #52221f;
}
ion-card img{
	width: 100%;
}
h2,h3{
  color: #e8d4a3;
}

#start-button{
  display: flex; 
  align-items: center;
  justify-content: center;
  padding-bottom: 35px;
  --background: #e2a946;
    color: #931c19;
}
ion-grid{
  display: flex; 
  justify-content: center;
}
