ion-content{
	--background: #6a5adf;
}
ion-card{
	--background: #fff;
}
ion-card img{
	width:100%;
}
ion-toolbar{
    --background: #fff;
    color: #6a5adf;
}
ion-icon{
    margin-right: 20px;
}
ion-item{
	--background: #6a5adf;
    color: #000;
}

ion-button{
	--background: #6a5adf;
    color: #000;
}
h2, h3{
    color: #000;
}
ion-grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}