ion-card{
	--background: #6a5adf;
    color: #FFF9DF;
}
ion-toolbar{
	--background: #fff;
  color: #6a5adf;
}
ion-content {
    --background: #fff;
}
ion-item {
    --background: #6a5adf;
}
ion-list{
    background-color: #6a5adf;
}
#submit-button{
    display: flex; 
    align-items: center;
    justify-content: center;
    padding-bottom: 35px;
    --background: #6a5adf;
      color: #000;
}