<ion-header>
  <ion-toolbar>
    <ion-title>Question Pool</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card> <!--FIRST QUESTION-->
    <ion-item>
        <ion-label>1. Sino ang unang bayani?</ion-label>
        <ion-select interface="action-sheet" class="custom-options">
            <ion-select-option value="green">A. Jose Mari chan</ion-select-option>
            <ion-select-option value="true">B. Dr.Jose Rizal</ion-select-option>
            <ion-select-option value="red">C. Jose Manalo</ion-select-option>
            <ion-select-option value="black">D. Joseph Estrada</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-list lines="none">
        <ion-item>
            <ion-label>A. Jose Mari chan</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>B. Dr. Jose Rizal</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>C. Jose Manalo</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>D. Joseph Estrada</ion-label>
        </ion-item>
    </ion-list>
</ion-card>
<ion-card> <!--second QUESTION-->
  <ion-item>
      <ion-label>2. Sino pumatay kay Magellan?</ion-label>
      <ion-select interface="action-sheet" class="custom-options">
          <ion-select-option value="true">A. Lapu-Lapu</ion-select-option>
          <ion-select-option value="blonde">B. Aldous</ion-select-option>
          <ion-select-option value="black">C. Balmond</ion-select-option>
          <ion-select-option value="red">D. Andres Bonifacio </ion-select-option>
      </ion-select>
  </ion-item>
  <ion-list lines="none">
      <ion-item>
          <ion-label>A. Lapu-Lapu</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>B. Aldous</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>C. Balmond</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>D. Andres Bonifacio</ion-label>
      </ion-item>
  </ion-list>
</ion-card>
<ion-card> <!--third QUESTION-->
  <ion-item>
      <ion-label>3. Sino ang ina ng bayan o  mas kilalang<br> tandang sora?</ion-label>
      <ion-select interface="action-sheet" class="custom-options">
          <ion-select-option value="brown">A. Darna</ion-select-option>
          <ion-select-option value="true">B. Melchora Aquino</ion-select-option>
          <ion-select-option value="black">C. Angel Locsin</ion-select-option>
          <ion-select-option value="true">D. Maria Clara</ion-select-option>
      </ion-select>
  </ion-item>
  <ion-list lines="none">
      <ion-item>
          <ion-label>A. Darna</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>B. Melchora Aquino</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>C. Angel Locsin</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>D. Maria Clara</ion-label>
      </ion-item>
  </ion-list>
</ion-card>
<ion-card > <!--fourth QUESTION-->
  <ion-item>
      <ion-label>4. Ano ang tinatawag "SUMMER CAPITAL<br> OF THE PHILIPPINES"?</ion-label>
      <ion-select interface="action-sheet" class="custom-options">
          <ion-select-option value="brown">A. Intramuros</ion-select-option>
          <ion-select-option value="black">B. Zambales</ion-select-option>
          <ion-select-option value="true">C. Baguio</ion-select-option>
          <ion-select-option value="red">D. Cavite</ion-select-option>
      </ion-select>
  </ion-item>
  <ion-list lines="none">
      <ion-item>
          <ion-label>A. Intramuros</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>B. Zambales</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>C. Baguio</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>D. Cavite</ion-label>
      </ion-item>
  </ion-list>
</ion-card>
<ion-card> <!--Fifth QUESTION-->
  <ion-item>
      <ion-label>5. Sina Mariano Gomez, Jose Burgoz at Jacinto Zamora<br> ay mas kilala sa tawag na?</ion-label>
      <ion-select interface="action-sheet" class="custom-options" color="dark">
          <ion-select-option value="true">A. Gomburza</ion-select-option>
          <ion-select-option value="blonde">B. Tres Marios</ion-select-option>
          <ion-select-option value="black">C. El trio</ion-select-option>
          <ion-select-option value="red">D. Avengers</ion-select-option>
      </ion-select>
  </ion-item>
  <ion-list  lines="none">
      <ion-item>
          <ion-label>A. Gomburza</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>B. Tres Marios</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>C. El trio</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>D. Avengers</ion-label>
      </ion-item>
  </ion-list>
</ion-card>
<ion-button id="submit-button" class="ion-padding" routerLink="/result">Submit</ion-button>
</ion-content>