ion-content{
	--background: #6a5adf;
}
ion-toolbar{
	--background: #fff;
  color: #6a5adf;
}
#trophy{
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 400px;
    margin-top: 40px;
  }
  ion-item {
    --background: #fff;
  color: #6a5adf;
  }
  ion-button {
    --background: #e9e5fb;
    color: #000;
    align-items: center;
    display: flex;
  }
  ion-icon {
    --background: #6a5adf;
  color: #6a5adf;
  }
  ion-fab-button {
    --background: #fff;
  }
  h6 {
    text-align: right;
    color: #fff;
    margin-top: 75px;
    font-size: 11px;
    padding-right: 11px;
  }